<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장효민의 YOUTUBE Channel</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="{% url 'video:video_list'% class= "navbar-brand"}"> 효민's video</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class='nav navbar-nav navbar-right'>
          <li>
            <a href="#">New video</a>
          </li>
          <li>
            <a href="#">로그인</a>
          </li>
          <li>
            <a href="#">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div>
  {% block content %}
  {% endblock %}
</div>
  </body>
</html>
