{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/post_list.css' %}" media="screen" title="no title">
  <title>Document</title>
</head>
<body>

  <h1>{{ title }}</h1>
<!-- Django template language - for loop -->
  {% for post in posts %}
  <article>
    <h4 class="post_title">{{ post.title }}</h4>
    <p class='post_description'>{{post.description}}</p>
    <p>{{post.created}}<``/p>
  </article>
  {% endfor %}
</body>
</html>
